<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vsts</title>
</head>
<body>
  <body>
    <h1>Vsts</h1>
    <ul>
      <% myVsts.forEach(todo => { %>
        <li>
          <%= vst.program %> 
          - 
          <%= vst.purchased ? 'purchased' : 'not purchased' %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>